.component2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flexWrapperTwo {
    margin-bottom: 13px;
    padding: 0 0 0 475px;
    display: flex;
    align-items: center;
  }
  .hotOffers {
    width: 109.61%;
    font-family: "Nunito";
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    color: rgba(162, 0, 0, 1);
    font-style: italic;
    align-self: stretch;
    text-align: center;
    margin-right: 387px;
  }
  .english {
    width: 28.82%;
    height: 39.71%;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
  }
  .relativeWrapperOne {
    margin-bottom: 176px;
    position: relative;
  }
  .flexWrapperOne {
    background-color: rgba(162, 0, 0, 0.47);
    padding: 52px 279px 217px 280px;
    position: relative;
  }
  .welcomeToTheRwanda1OnlineClassifi {
    max-width: 641px;
    width: 100%;
    height: 100%;
    font-family: "Nunito";
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  .group2 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 53px 44px 52px 41px;
    box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.21);
    display: flex;
    align-items: center;
    position: absolute;
    left: 118px;
    bottom: -59px;
  }
  .hotOffersRubavu {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    flex: 1;
    align-self: stretch;
    text-align: center;
  }
  .group3 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 53px 44px 52px 41px;
    box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.21);
    display: flex;
    align-items: center;
    position: absolute;
    left: 315px;
    bottom: -59px;
  }
  .group4 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 53px 44px 52px 41px;
    box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.21);
    display: flex;
    align-items: center;
    position: absolute;
    right: 511px;
    bottom: -59px;
  }
  .group5 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 53px 44px 52px 41px;
    box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.21);
    display: flex;
    align-items: center;
    position: absolute;
    right: 315px;
    bottom: -59px;
  }
  .group6 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 53px 44px 52px 41px;
    box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.21);
    display: flex;
    align-items: center;
    position: absolute;
    right: 119px;
    bottom: -59px;
  }
  .joinMillionsOfUsersToBuyAndSellA {
    width: 51.92%;
    height: 3.01%;
    font-family: "Nunito";
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 91px;
    margin-left: 289px;
  }
  .flexWrapperThree {
    margin-bottom: 142px;
    padding: 0 0 0 60px;
    display: flex;
    align-items: flex-start;
  }
  .group7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:not(:last-of-type) {
      margin-right: 99px;
    }
  }
  .hotOffersMusanze {
    width: 67.16%;
    height: 15.43%;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 10px;
  }
  .apartmentForSaleInMusanze {
    height: 15.43%;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(162, 0, 0, 1);
    align-self: stretch;
    margin-bottom: 10px;
  }
  .jobsInMusanze {
    width: 52.77%;
    height: 15.43%;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(162, 0, 0, 1);
    margin-bottom: 10px;
  }
  .usedCarForSaleInMusanze {
    width: 93.36%;
    height: 15.43%;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(162, 0, 0, 1);
    margin-bottom: 10px;
  }
  .apartmentForRentInMusanze {
    width: 99.63%;
    height: 15.43%;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(162, 0, 0, 1);
    margin-left: 1.09px;
  }
  .group8 {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .apartmentForRentInKigaliCity {
    width: 99.63%;
    height: 15.43%;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(162, 0, 0, 1);
    margin-left: 1.08px;
  }
  .hotoffersCom2023AllRightsReserve {
    width: 32%;
    height: 2.39%;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
    margin-left: 411px;
  }